/* You can add global styles to this file, and also import other style files */

body {	
	overflow-y: hidden;
}

.h-inherit {
	height: inherit;
}

.mb-unset {
	margin-bottom: unset;
}

.m-px-4N {
	margin:-4px;
}